# .gitignore for Food Spoilage Prediction Project

# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore log files
*.log
